<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShiftTracker">
        <activity
            android:name=".controller.Traveling"
            android:exported="false" />
        <activity
            android:name=".controller.Entertainment"
            android:exported="false" />
        <activity
            android:name=".controller.SetBudget"
            android:exported="false" />
        <activity
            android:name=".model.Shopping"
            android:exported="false" />
        <activity
            android:name=".model.Food"
            android:exported="false" /> <!-- CalendarActivity declaration -->

        <activity
            android:name=".controller.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.MainActivity"
            android:exported="true">
        </activity>

        <activity android:name=".controller.JobDetailActivity"
            android:exported="true">
        </activity>

        <activity android:name=".controller.CalendarActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".controller.BudgetMainActivity"
            android:exported="true" />

        <activity
            android:name=".controller.SharingMainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".controller.NewSharedActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".controller.SharedCalendarActivity"
            android:exported="true">
        </activity>

        <receiver android:name=".model.NotificationReceiver"/>
        <receiver android:name=".model.WeeklyNotificationReceiver"/>
    </application>

</manifest>